html,body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
.navbar-light .navbar-nav .nav-link {
    color: rgb(64, 64, 64);
}
.btco-menu li > a {
    padding: 10px 15px;
    color: #000;

}

.btco-menu .active a:focus,
.btco-menu li a:focus ,
.navbar > .show > a:focus{
    background: transparent;
    outline: 0;
}


.dropdown-menu .show > .dropdown-toggle::after{
    transform: rotate(-90deg);
}


nav{
  border-top: 5px solid #007bff;
}

.navbar-toggler {
    border-color: #007bff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 123, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom {
    background: #ffffff;
    border-top: 5px solid cornflowerblue;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3)
}

a.nav-link:hover {
    border-top: 5px solid #81d742;
    margin: 0;
    padding-top: 16px;
    margin-top: -13px;

}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #226ece;
}
/* NAVBAR END
=====================================*/

.section-title{
  font-size: 1.8em;
}

.bar::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #16a4d6;
    z-index: 2;
    border-width: 2px 0 0 2px;
    top: -15px;
    left: -22px;
}

@media only screen and (max-width: 480px) {
  .bar::before {
    display: none;
  }
}

/*  section7*/
.section7{
  background: url('../images/ct_bg.png') no-repeat;
  position: relative;
  background-size: cover;
}
/*  section7 end*/

/*section8*/
.section8 {
    background: url('../images/footer_bg.png') no-repeat;
    background-size: cover;
    position: relative;
}

.contactus p{
    font-size: 12px;
}

.social {
    list-style-type: none;
    padding: 0;
}

.social li {
    color: white;
    padding: 0.2em 0;
}

.social li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #fff;
    border: 1px solid #fff;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    margin-right: 3px;
    transition: all .3s ease;
}

.social li a:hover {
    background: #0077c0;
    border-color: #0077c0;
}
/*section8 end*/
